<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqtiq.mapper.EchartdataMapper" >
  <resultMap id="BaseResultMap" type="com.cqtiq.pojo.Echartdata" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tach" property="tach" jdbcType="DOUBLE" />
    <result column="h" property="h" jdbcType="DOUBLE" />
    <result column="gas" property="gas" jdbcType="DOUBLE" />
    <result column="water" property="water" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tach, h, gas, water
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cqtiq.pojo.EchartdataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from echartdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from echartdata
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectLastEchartData" resultMap="BaseResultMap" >
    select  <include refid="Base_Column_List" />
    from echartdata
    order by id desc LIMIT 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from echartdata
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteFristData" >
    delete from echartdata limit 1
  </delete>
  <delete id="deleteByExample" parameterType="com.cqtiq.pojo.EchartdataExample" >
    delete from echartdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cqtiq.pojo.Echartdata" >
    insert into echartdata (id, tach, h, gas, 
      water)
    values (#{id,jdbcType=INTEGER}, #{tach,jdbcType=DOUBLE}, #{h,jdbcType=DOUBLE}, #{gas,jdbcType=DOUBLE}, 
      #{water,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.cqtiq.pojo.Echartdata" >
    insert into echartdata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tach != null" >
        tach,
      </if>
      <if test="h != null" >
        h,
      </if>
      <if test="gas != null" >
        gas,
      </if>
      <if test="water != null" >
        water,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tach != null" >
        #{tach,jdbcType=DOUBLE},
      </if>
      <if test="h != null" >
        #{h,jdbcType=DOUBLE},
      </if>
      <if test="gas != null" >
        #{gas,jdbcType=DOUBLE},
      </if>
      <if test="water != null" >
        #{water,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cqtiq.pojo.EchartdataExample" resultType="java.lang.Integer" >
    select count(*) from echartdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update echartdata
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tach != null" >
        tach = #{record.tach,jdbcType=DOUBLE},
      </if>
      <if test="record.h != null" >
        h = #{record.h,jdbcType=DOUBLE},
      </if>
      <if test="record.gas != null" >
        gas = #{record.gas,jdbcType=DOUBLE},
      </if>
      <if test="record.water != null" >
        water = #{record.water,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update echartdata
    set id = #{record.id,jdbcType=INTEGER},
      tach = #{record.tach,jdbcType=DOUBLE},
      h = #{record.h,jdbcType=DOUBLE},
      gas = #{record.gas,jdbcType=DOUBLE},
      water = #{record.water,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqtiq.pojo.Echartdata" >
    update echartdata
    <set >
      <if test="tach != null" >
        tach = #{tach,jdbcType=DOUBLE},
      </if>
      <if test="h != null" >
        h = #{h,jdbcType=DOUBLE},
      </if>
      <if test="gas != null" >
        gas = #{gas,jdbcType=DOUBLE},
      </if>
      <if test="water != null" >
        water = #{water,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqtiq.pojo.Echartdata" >
    update echartdata
    set tach = #{tach,jdbcType=DOUBLE},
      h = #{h,jdbcType=DOUBLE},
      gas = #{gas,jdbcType=DOUBLE},
      water = #{water,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>