<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqtiq.mapper.TxmqttMapper" >
  <resultMap id="BaseResultMap" type="com.cqtiq.pojo.Txmqtt" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="devNum" property="devnum" jdbcType="VARCHAR" />
    <result column="port" property="port" jdbcType="INTEGER" />
    <result column="data" property="data" jdbcType="VARCHAR" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="confirmed" property="confirmed" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, devNum, port, data, sign, confirmed
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cqtiq.pojo.TxmqttExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from txmqtt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectDescFireData" resultMap="BaseResultMap" >
    select  <include refid="Base_Column_List" />
    from txmqtt
    order by id desc LIMIT 10
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from txmqtt
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from txmqtt
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteFristData" >
    delete from txmqtt limit 1
  </delete>
  <delete id="deleteByExample" parameterType="com.cqtiq.pojo.TxmqttExample" >
    delete from txmqtt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cqtiq.pojo.Txmqtt" >
    insert into txmqtt (id, devNum, port, 
      data, sign, confirmed
      )
    values (#{id,jdbcType=INTEGER}, #{devnum,jdbcType=VARCHAR}, #{port,jdbcType=INTEGER}, 
      #{data,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR}, #{confirmed,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cqtiq.pojo.Txmqtt" >
    insert into txmqtt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="devnum != null" >
        devNum,
      </if>
      <if test="port != null" >
        port,
      </if>
      <if test="data != null" >
        data,
      </if>
      <if test="sign != null" >
        sign,
      </if>
      <if test="confirmed != null" >
        confirmed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="devnum != null" >
        #{devnum,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        #{port,jdbcType=INTEGER},
      </if>
      <if test="data != null" >
        #{data,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="confirmed != null" >
        #{confirmed,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cqtiq.pojo.TxmqttExample" resultType="java.lang.Integer" >
    select count(*) from txmqtt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update txmqtt
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.devnum != null" >
        devNum = #{record.devnum,jdbcType=VARCHAR},
      </if>
      <if test="record.port != null" >
        port = #{record.port,jdbcType=INTEGER},
      </if>
      <if test="record.data != null" >
        data = #{record.data,jdbcType=VARCHAR},
      </if>
      <if test="record.sign != null" >
        sign = #{record.sign,jdbcType=VARCHAR},
      </if>
      <if test="record.confirmed != null" >
        confirmed = #{record.confirmed,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update txmqtt
    set id = #{record.id,jdbcType=INTEGER},
      devNum = #{record.devnum,jdbcType=VARCHAR},
      port = #{record.port,jdbcType=INTEGER},
      data = #{record.data,jdbcType=VARCHAR},
      sign = #{record.sign,jdbcType=VARCHAR},
      confirmed = #{record.confirmed,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqtiq.pojo.Txmqtt" >
    update txmqtt
    <set >
      <if test="devnum != null" >
        devNum = #{devnum,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        port = #{port,jdbcType=INTEGER},
      </if>
      <if test="data != null" >
        data = #{data,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="confirmed != null" >
        confirmed = #{confirmed,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqtiq.pojo.Txmqtt" >
    update txmqtt
    set devNum = #{devnum,jdbcType=VARCHAR},
      port = #{port,jdbcType=INTEGER},
      data = #{data,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      confirmed = #{confirmed,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>